useDynLib(dipm, .registration = TRUE)
export(dipm,spmtree,pmprune,coxph_R_to_C,coxph_R_to_C_multi,lm_R_to_C,predict_dipm,node_dipm)
import(survival)
import(partykit)
import(ggplot2)
import(grid)
importFrom("stats", "as.formula", "lm", "terms","predict")
importFrom("utils", "capture.output", "head")