useDynLib(dipm, .registration = TRUE)
export(dipm,spmtree,pmprune,node_dipm)
import(survival)
import(partykit)
import(ggplot2)
import(grid)
importFrom("stats", "as.formula", "lm", "terms","predict")
importFrom("utils", "capture.output", "head")